@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }

header {
    max-height: 422px;
    overflow: hidden;
}

header[class*="carousel"] {
    background-color: #0085A1;
}

header .carousel-inner .item img {
    max-height: 422px;
}

.post-author {
    color: black;
}

.person {
    margin: 20px auto;
}

.person img {
    width: 180px;
    height: 180px;
}

.person .card {
    margin: auto;
    padding-top: 25px;
    width: 350px;
    height: 325px;
    border-radius: 5%;
    background-color: #e8e8e8;
}

.vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control .control-left,
.carousel-control .control-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}

.carousel-control .control-left {
    left: 50%;
}

.carousel-control .control-right {
    right: 50%;
}

.comment-list .row {
    margin-bottom: 0;
}

.comment-list .panel .panel-heading {
    padding: 4px 15px;
    position: absolute;
    border: none;
    border-top-right-radius: 0px;
    top: 1px;
}

.comment-list .panel .panel-heading.right {
    border-right-width: 0;
    border-top-left-radius: 0;
    right: 16px;
}

.comment-list .panel .panel-heading .panel-body {
    padding-top: 6px;
}

.comment-list figcaption {
    word-wrap: break-word;
}

@media (min-width: 768px) {
    .comment-list .arrow:after, .comment-list .arrow:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent;
    }
    
    .comment-list .panel.arrow.left:after, .comment-list .panel.arrow.left:before {
        border-left: 0;
    }
    
    .comment-list .panel.arrow.left:before {
        left: 0;
        top: 30px;
        border-right-color: inherit;
        border-width: 16px;
    }
    
    .comment-list .panel.arrow.left:after {
        left: 1px;
        top: 31px;
        border-right-color: #ffffff;
        border-width: 15px;
    }
    
    .comment-list .panel.arrow.right:before {
        right: -16px;
        top: 30px;
        border-left-color: inherit;
        border-width: 16px;
    }
    
    .comment-list .panel.arrow.right:after {
        right: -14px;
        top: 31px;
        border-left-color: #ffffff;
        border-width: 15px;
    }
}

.comment-list .comment-post {
    margin-top: 6px;
}