@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }

.person {
    margin: 20px auto;
}

.person img {
    width: 180px;
    height: 180px;
}

.person .card {
    margin: auto;
    padding-top: 25px;
    width: 350px;
    height: 325px;
    border-radius: 5%;
    background-color: #e8e8e8;
}

.vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control .control-left,
.carousel-control .control-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}

.carousel-control .control-left {
    left: 50%;
}

.carousel-control .control-right {
    right: 50%;
}