@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }

body {
    padding-bottom: 40px;
    color: #5a5a5a;
}

.navbar {
    border-radius: 0;
}

footer .col-sm-4 {
    text-align: center;
    margin: 20px 0;
}

.vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}